body {
    background-color: rgb(16, 16, 16);
}

h1 {
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 20px;
    font-size: 100px;
    display: contents;
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: black;
}
button {
    width: 155px;
    height: 55px;
    margin: 25px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: rgb(30, 30, 30);
}

main {
    color: white;
    text-align: center;
    display: flexbox;
    line-height: 80px;
    font-size: 52px;
}